description = "Home Page Layout"
==
{% partial "header" %}

<div id="myCarousel" class="carousel slide" data-ride="carousel">
	<!-- Indicators -->
	<div class="carousel-inner" role="listbox">
		<div id="car_overlay">
		</div>
		<div class="item active">
			<img src="{{ 'assets/images/boat.jpg'|theme }}" alt="First slide">
			<div class="container">
				<div class="carousel-caption">
					<h1>Top Absolute Return Investment Strategies</h1>
					<h3>Real Returns. Real Time.</h3>
					<p>
						Invest in The Market Navigator Strategy. Model portfolios that are invaluable.
					</p>
					<p>
						<a class="main-caption btn btn-lg btn-primary" href="#" role="button">30 days FREE when you sign up</a>
					</p>
				</div>
			</div>
		</div>
	</div>
</div>
	<!-- /.carousel -->
	<!-- Marketing messaging and featurettes
    ================================================== -->
	<!-- Wrap the rest of the page in another container to center all the content. -->
	<div id="content-wrap">
		<div class="container marketing">
			<!-- START THE FEATURETTES -->
			<h1>The Market Navigator Strategy</h1>
			<hr class="featurette-divider first-divide">
			<div class="row featurette">
				<div class="col-md-7">
					<p>
						The Market Navigator provides its clients with exclusive access to two of the most successful and inherintly diviersified ETF investment strategies available to individual investors. <strong><em>The Market Navigator is designed for investors who wish to take charge of their investment and pursue a sophiticated absolute return strategy.</em></strong>
					</p>
					<p>
						The strategies are presented in real-time, with real money, in separate investment accounts that our subscribers can view live from the web site. Subscribers recieve real-time updates to buy, sell, or hold securities on each strategy. Unlike many other trading systems, this service is not an intra-day system which requires constant monitoring. Rather, trades are noramlly entered before the markets open and exits are often automatically triggered be protective stops. Expect a few trades a week at the most.
					</p>
					<blockquote class="block-lead">
						<strong><em>The Market Navigator tools provide investors with a powerful way to participate profitably in the equity, bond, currency, and commodity markets during all market conditions.</em>
						</strong>
					</blockquote>
				</div>
				<div class="col-md-5">
					<div class="info-box">
						<h4>Competitive Strategy</h4>
						<p>
							We've named out two investment strategies, The Clipper and The Steamer. The Clipper is a leveraged ETF strategy that has a 7 year histroy (since a diviersified basket of leveraged ETFs were not available prior to them) and The Steamer is a more conservative, unleveraged approach to investing in the markets, with a longer 19 year history.
						</p>
					</div>
					<div>
						<img width="100%;" style="margin-top:30px;" src="{{ 'assets/images/graph.png'|theme }}">
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="market-divider clearfix">
		<div class="container">
			<div class="row">
				<div class="col-md-7">
					<h4>Click here to subscribe to The Market Navigator</h4>
				</div>
				<div class="col-md-5">
					<h3>Our Investment Process</h3>
				</div>
			</div>
		</div>
	</div>
	<div class="market-compass clearfix">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="col-md-5 pull-right compass-text">
						<p>
							The Market Navigator offers two robust absolute return strategies for outsized returns in any market environment, with continuous risk mitigation in place.
						</p>
						<p>
							Subscribers to The Market Navigator Investment Letter can follow the trading signals in their own accounts, alongside these seasoned pros, or paper trade the signals just for the experience. while keeping abreast of siginificatn developments within the markets.
						</p>
						<a class="main-caption invest-experts btn btn-lg btn-primary" href="#" role="button"><span class="mini-compass">Learn more about our Investing Experts</span></a>
					</div>
				</div>
			</div>
		</div>
	</div>
{% partial "footer" %}